:root {
    --toolbar-bgcolor: -moz-Dialog !important;
    --toolbar-color: -moz-DialogText !important;
    --lwt-text-color: -moz-DialogText !important;
    --toolbarbutton-hover-background: -moz-Dialog !important;
    --toolbarbutton-active-background: -moz-Dialog !important;
    --toolbar-bgimage: none !important;
    --lwt-toolbarbutton-icon-fill: -moz-DialogText !important;
    --toolbar-field-focus-border-color: Highlight !important;
    --lwt-toolbar-field-background-color: rgb(255, 255, 255) !important;
    --lwt-toolbar-field-color: rgb(24, 25, 26) !important;
    --lwt-toolbar-field-border-color: rgb(204, 204, 204) !important;
    --lwt-toolbar-field-focus: rgb(255, 255, 255) !important;
    --lwt-toolbar-field-focus-color: rgb(24, 25, 26) !important;
    --toolbarbutton-vertical-text-padding: calc(var(--toolbarbutton-inner-padding) - 1px) !important;
    --toolbarbutton-border-radius: 2px !important;
    --toolbarbutton-icon-fill-opacity: 1 !important;
    --panel-separator-color: ThreeDLightShadow !important;
    --arrowpanel-background: -moz-field !important;
    --arrowpanel-color: -moz-FieldText !important;
    --arrowpanel-border-color: ThreeDShadow !important;
    --arrowpanel-dimmed: hsla(0,0%,80%,.35) !important;
    --arrowpanel-dimmed-further: hsla(0,0%,80%,.5) !important;
    --arrowpanel-dimmed-even-further: hsla(0,0%,80%,.8) !important;
    --urlbar-separator-color: ThreeDLightShadow !important;
    --chrome-content-separator-color: ThreeDShadow !important;
    --toolbarbutton-hover-transition-duration: 0 !important;
    --toolbarbutton-outer-padding: 2px !important;
    --toolbarbutton-inner-padding: 6px !important;
    --toolbarbutton-focus-outline: 2px solid currentColor !important;
    --autocomplete-popup-background: rgb(255, 255, 255) !important;
    --autocomplete-popup-color: rgb(12, 12, 13) !important;
    --inline-tab-padding: 0px !important;
    --toolbarbutton-border-radius: 0px !important;
    --bookmark-block-padding: 3px !important;
    --tab-border-radius: 0px !important;
    --tab-shadow-max-size: 0px !important;
    --tab-block-margin: 0px !important;
    --tab-min-height: 26px !important;
}